<br>
<table border="0" width=500 >
  <tr height=35>
    <th>ID</th>
    <th>EID</th>
    <th>Name</th>
    <th>Dept</th>
    <th>Operations</th>
  </tr>
{{#each model as |viewrec|}}
<tr height=20>
  <td>{{viewrec.id}}</td>
  <td>{{viewrec.eid}}</td> <td> {{viewrec.ename}} </td> <td>{{viewrec.edept}}</td>
  <td>
    <button {{action "toggleModal" viewrec.id }}>Edit{{viewrec.id}}</button>

{{#if isShowingModal}}
  {{#modal-dialog
                  targetAttachment="center"
                  translucentOverlay=true}}
                  <br><form class="form-horizontal" >
                    <div class="form-group">
                      <label for="name" class="col-md-2 control-label">Enter employee ID</label>
                      <div class="col-md-5">
                        {{input value=eId  class="form-control"}}
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="name" class="col-md-2 control-label">Enter employee name</label>
                      <div class="col-md-5">
                        {{input value=eName class="form-control"}}
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="name" class="col-md-2 control-label">Enter employee dept </label>
                      <div class="col-md-5">
                        {{input value=eDept class="form-control"}}
                      </div>
                    </div>
                    <div class="form-group">
                     <div class="col-sm-offset-2 col-sm-10">
                       <button class="btn btn-primary btn-lg btn-block" {{action 'editEmpRec' }} >Edit employee </button>
                     </div>
                   </div>
                  </form>


        {{/modal-dialog}}
  {{/if}}
  </td>
</tr>
{{/each}}
</table>
